*{
	font-family: 'Overpass', sans-serif;
}
/*NAVBAR*/
.navbar-default{
	background-color: white;
	border: none;
}
.navbar-default .navbar-nav li a{
	color: black;
	font-size: 16px;
	padding: 40px 25px;
	transition: .5s all ease;
}
.navbar-default .navbar-nav li a:hover{
	color: #f7b617;
	cursor: pointer;
	font-weight: bold;
	transition: .5s all ease;
	overflow: hidden;
}
.navbar-default .links-menu{
	margin-top: 15px;
}
/*DISEÑO PRIMERA SECCION*/
.first-section{
	background-image: url(../../img/taxi.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
}
.first-section .caja-texto{
	background-color: #f7b617;
	color: white;
	height: 350px;
	margin-top: 170px;
}
.first-section .caja-texto h1{
	font-weight: 700;
	margin: 35px 0 15px 25px;
}
.first-section .caja-texto h2,
.first-section .caja-texto .input1{
	margin-left: 25px;
}
.first-section .caja-texto h2 i{
	font-size: 30px;
	font-weight: 700;
	margin-right: 4px;
}
.first-section .caja-texto a{
	color: white;
	margin-left: 25px;
	margin-top: 20px;
}
.first-section .caja-texto input{
	background-color: transparent;
	border-bottom:1px solid white;
	border: none;
	display:block;
	padding: 5px;
	width: 100%;
}
.first-section .caja-texto p{
	font-size: 16px;
}
.first-section .caja-texto button{
	background-color: white;
	border-radius: 8px;
	border: none;
	color: black;
	font-size: 18px;
	font-weight: 700;
	margin-left: 25px;
	margin-top: 25px;
	padding: 10px 15px;
}
/*DISEÑO SEGUNDA SECCION*/
.second-section{
	background-color: #f7b617;
	min-height: 80vh;
	color: white;
}
.second-section .caja-texto{
	border: 1px solid white;
	height: 70vh;
	margin-top: 5vh;
}
.second-section .caja-texto .imagen-celular{
	margin: 40px 60px 40px 70px;
}
.second-section .caja-texto .texto-descarga{
	margin-top: 40px;
}
